body {
    background-color:lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
    text-align: center;


}

ul {
    width:300px;
    margin:0 auto;
}

table {
    margin: 50px;
}